@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h2 style="text-align:center;"><b>Looks like something went wrong!</h2></b>
<h4 style="text-align:left;">We swear, the page worked at the developer machine.</h4>
<h4 style="text-align:left;">We do however log all errors and will try to get it working at your place.</h4>



