@model Invitar.Models.Event

@{
    ViewBag.Title = "Response";
    Layout = "~/Views/Shared/_OtherLayout.cshtml";

    var base64 = Convert.ToBase64String(Model.Image);
    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
}

<style type="text/css">
    #bg {
        position: relative;
        top: 0;
        left: 0;
        /* Preserve aspet ratio */
        min-width: 100%;
        min-height: 100%;
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div style="position:relative;">
        <img style="float:left;" src="@imgSrc" id="bg" height="700" width="900" />

        <!--Begin Content-->
        <div style="position:absolute;top:0;left:0;padding-left:10px;padding-top:100px;z-index:5;" class="col-md-9">
            <!--Service Blcoks -->
            <div class="row servive-block margin-bottom-10">
                <div id="divY" class="col-md-3 col-sm-6" style="width:260px !important;">
                    <div class="servive-block-in servive-block-colored servive-block-green" style="width:250px; ">
                        <h4>Great!</h4>
                        <div><i class="icon-bell"></i></div>
                        <h5>Add a comment:</h5><textarea rows="3" cols="50" class="form-control" name="commentyes" id="commentyes"></textarea>
                        <h5>Total Guest:</h5><input type="text" class="form-control" maxlength="2" id="totalyes" name="totalyes" style="width:50px !important" />
                        <input type="submit" onclick="return SetResponse(1)" class="btn-u btn-block" style="width:60px !important" value="Reply" />
                    </div>
                </div>
                <div id="divN" class="col-md-3 col-sm-6" style="width:260px !important;">
                    <div class="servive-block-in servive-block-colored servive-block-red" style="width: 250px;">
                        <h4>Miss you!</h4>
                        <div><i class="icon-bullhorn"></i></div>
                        <h5>Add a comment:</h5><textarea rows="3" cols="50" class="form-control" name="commentno" id="commentno"></textarea>
                        <input type="submit" onclick="return SetResponse(2)"  class="btn-u btn-block" style="width:60px !important" value="Reply" />
                    </div>
                </div>
                <div id="divM" class="col-md-3 col-sm-6" style="width:260px !important;">
                    <div class="servive-block-in servive-block-colored servive-block-yellow" style="width: 250px;">
                        <h4>Really?</h4>
                        <div><i class="icon-map-marker"></i></div>
                        <h5>Add a comment:</h5><textarea rows="3" cols="50" class="form-control" name="commentmaybe" id="commentmaybe"></textarea>
                        <h5>Total Guest:</h5><input type="text" class="form-control" maxlength="2" id="totalmaybe" name="totalmaybe" style="width:50px !important" />
                        <input type="submit" onclick="return SetResponse(3)"  class="btn-u btn-block" style="width:60px !important" value="Reply" />
                    </div>
                </div>
            <input type="hidden" id="hdnres" name="res" />
            </div><!--/servive-block-->
        </div>
        <!--End Content-->
    </div>
}

<script type="text/javascript" src="~/assets/plugins/jquery-1.10.2.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#divY").show();
        $("#divN").show();
        $("#divM").show();

        var res = GetQueryStringParams('res');

        if (res == 1) {
            $("#divN").hide();
            $("#divM").hide();
        }
        else if (res == 2) {
            $("#divY").hide();
            $("#divM").hide();
        }
        else if (res == 3) {
            $("#divN").hide();
            $("#divY").hide();
        }
    });
    function GetQueryStringParams(sParam) {
        var sPageURL = window.location.search.substring(1);
        var sURLVariables = sPageURL.split('&');
        for (var i = 0; i < sURLVariables.length; i++) {
            var sParameterName = sURLVariables[i].split('=');
            if (sParameterName[0] == sParam) {
                return sParameterName[1];
            }
        }
    }
</script>