@model IEnumerable<Invitar.Models.Event>
@{
    ViewBag.Title = "Home Page";
}


<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="pull-left">Upcoming Events</h1>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<div class="col-md-9">
    NO UPCOMING EVENTS
</div>

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="pull-left">Sample Events</h1>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->


<div class="col-md-9">
    <!-- Thumbnails v1 -->
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">

                <div class="thumbnails thumbnail-style thumbnail-kenburn">
                    <div class="thumbnail-img">
                        <div class="overflow-hidden">
                            <img class="img-responsive" src="../../assets/img/main/1.jpg" alt="" />
                        </div>
                        <a class="btn-more hover-effect" href="#">read more +</a>
                    </div>
                    <div class="caption">
                        <h3><a class="hover-effect" href="#">@item.Title</a></h3>
                        <p>@item.Location</p>
                        <p>@item.StartDate.ToShortDateString() at @item.StartTime</p>
                    </div>
                </div>
            </div>

        }
    </div>
    <hr class="margin-bottom-30">
</div>
