@model IEnumerable<Invitar.Models.Event>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3">

            <div class="thumbnails thumbnail-style thumbnail-kenburn">
                <div class="thumbnail-img">
                    <div class="overflow-hidden">
                        <img class="img-responsive" style="width:22em; height:15em;"  src=@string.Format("../../assets/img/main/{0}.jpg",item.Id) alt="" />
                    </div>
                    <a class="btn-more hover-effect" href="#">View</a>
                </div>
                <div class="caption">
                    <h3><a class="hover-effect" href="#">@item.Title</a></h3>
                    <p>@item.Location</p>
                    <p>@item.StartDate.ToShortDateString() at @item.StartTime</p>
                </div>
            </div>
        </div>

    }
</div>

