@model IEnumerable<Invitar.Models.Event>

@{
    ViewBag.Title = "Home Page";
}

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="pull-left">Upcoming Events</h1>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<div class="col-md-offset-2 col-md-10">
    <div style="position: absolute; bottom: 0; right: 0;">
        <input type="button" value="Create an Event" class="btn-u btn" onclick="@("window.location.href='" + @Url.Action("Create", "Event") + "'");" />
    </div>
</div>

<div class="col-md-9">
    @Html.Partial("UpcomingEvent", Model.Where( e => e.IsSample == false ))
</div>



<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="pull-left">Sample Events</h1>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->


<div class="col-md-9">
    @Html.Partial("SampleEvent", Model.Where(e => e.IsSample == true))
    <hr class="margin-bottom-30">
</div>
