@{
    ViewBag.Title = "Choose a cover photo";
}

<h2>Photo</h2>
<script type="text/x-jquery-tmpl" id="themes_template">
    <div class="col-md-4">
        <div class="thumbnails thumbnail-style thumbnail-kenburn">
            <div class="thumbnail-img">
                <div class="overflow-hidden">
                    <img class="img-responsive" src="${image}" alt="">
                </div>
            </div>
            <div class="caption">
                <h3><a class="hover-effect" href="#">${name}</a></h3>
            </div>
        </div>
    </div>
</script>


<div class="tab-v2" >
    <ul class="nav nav-tabs">
        <li class="active"><a href="#themes-1" id="themes" data-toggle="tab">Themes</a></li>
        <li><a href="#computer-1" data-toggle="tab">Computer</a></li>
        <li><a href="#ImageSearch-1" data-toggle="tab">Image Search</a></li>
        <li><a href="#Picasa-1" data-toggle="tab">Picasa</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="themes-1">
            <div class="contentresult" id="content">
                <ul class="gallery">
                    <li>
                        <a data-ajax="true" data-ajax-method="Get" data-ajax-mode="replace" data-ajax-update="#content" href="/Event/Themes/bday">
                            <img class="img-responsive" style="border-radius:15px; width:22em; height:15em;" src="~/assets/img/event/bday/1.jpg" alt="Birthday">
                        </a>
                    </li>
                    <li>
                        <a data-ajax="true" data-ajax-method="Get" data-ajax-mode="replace" data-ajax-update="#content" href="/Event/Themes/dinner">
                            <img class="img-responsive" style="border-radius: 15px; width: 22em; height: 15em;" src="~/assets/img/event/dinner/1.jpg" alt="Birthday">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-pane" id="computer-1">
            <img alt="" class="pull-left lft-img-margin img-width-200" src="assets/img/main/5.jpg">
            <h4>Heading Sample 2</h4>
            <p>Vivamus imperdiet condimentum diam, eget placerat felis consectetur id. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, ante ac interdum ullamcorper. Donec eget orci metus, <strong>ac adipiscing nunc.</strong> Vivamus imperdiet condimentum diam, eget placerat felis consectetur id. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, ante ac interdum id. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, ante ac interdum ullamcorper. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, ante ac <strong>interdum ullamcorper.</strong></p>
        </div>
        <div class="tab-pane" id="ImageSearch-1">
            <input type="text" id="txtSearch" value="" />
            <input type="submit" id="btnSearch"  value="Search" />
            <div id="result" class="contentresult"></div>
        </div>
        <div class="tab-pane" id="Picasa-1">
            <h4>Heading Sample 4</h4>
            <p><img alt="" class="pull-right rgt-img-margin img-width-200" src="assets/img/main/1.jpg"> Vivamus imperdiet condimentum diam, eget placerat felis consectetur id. Donec eget orci metus, Vivamus imperdiet condimentum diam, eget placerat felis consectetur id. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, ante ac interdum ullamcorper. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, consectetur id. Donec eget orci metus, ac adipiscing nunc. <strong>Pellentesque fermentum</strong>, ante ac interdum ullamcorper. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, ante ac interdum ullamcorper.</p>
        </div>
    </div>
</div>